<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript">
    $(document).ready(function () {
        get_categories();
        get_news();

        $("#category-to-show").on('change', function () {
            get_news_by_category();
        })
    })
</script>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" id="home" href="/">NewsFeed</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">

                        <div class="form-group">
                            <select class="form-control" id="category-to-show">

                            </select>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" id="search-field" type="search" placeholder="найти новость"
                           aria-label="Search">
                    <button class="btn btn-outline-success" id="search-button" onclick="get_news_by_query()" type="button">
                        Поиск
                    </button>
                    <a href="#" class="btn btn-outline-success" data-toggle="modal" data-target="#add-story">
                        Добавить новость
                    </a>
                </form>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="container">
        <h2>Новости</h2>
        <div id="newsfeed" class="col-12">

        </div>
    </div>
</section>
<div class="modal fade" id="add-story" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 60rem;">
            <div class="modal-header">
                <h5 class="modal-title">Добавление новости</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="add-story-title" class="col-form-label">Заголовок:</label>
                        <input type="text" class="form-control" id="add-story-title">
                    </div>
                    <div class="form-group">
                        <label for="add-story-text" class="col-form-label">Новость:</label>
                        <textarea class="form-control" id="add-story-text" style="height: 40rem;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="category-for-story">Выберите категорию</label>
                        <select class="form-control" id="category-for-story"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="add_story()">Добавить</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>